# Contracts build artifacts (Hardhat)
contracts/artifacts/
contracts/cache/

# Node modules (scoped to contracts project)
contracts/node_modules/
contracts/.env

# IDE
.DS_Store
.idea/
.vscode/

app/node_modules/
app/dist/
